In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine

!pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.22)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.4 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (3.0.0)
Downloading psycopg2_binary-2.9.9-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 13.2 MB/s eta 0:00:00a 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [2]:
retail_sales_path = os.path.join(os.getcwd(),"Data","Retail_sales.csv")
retail_sales_path

'/home/jovyan/work/Data/Retail_sales.csv'

In [3]:
data = pd.read_csv(retail_sales_path)
data

,Store ID,Product ID,Date,Units Sold,Sales Revenue (USD),Discount Percentage,Marketing Spend (USD),Store Location,Product Category,Day of the Week,Holiday Effect
0,Spearsland,52372247,2022-01-01,9,2741.69,20,81,Tanzania,Furniture,Saturday,False
1,Spearsland,52372247,2022-01-02,7,2665.53,0,0,Mauritania,Furniture,Sunday,False
2,Spearsland,52372247,2022-01-03,1,380.79,0,0,Saint Pierre and Miquelon,Furniture,Monday,False
3,Spearsland,52372247,2022-01-04,4,1523.16,0,0,Australia,Furniture,Tuesday,False
4,Spearsland,52372247,2022-01-05,2,761.58,0,0,Swaziland,Furniture,Wednesday,False
...,...,...,...,...,...,...,...,...,...,...,...
29995,Spearsland,50239115,2022-01-25,5,2501.15,0,100,Malawi,Clothing,Tuesday,False
29996,Spearsland,50239115,2022-01-26,3,1500.69,0,0,Sudan,Clothing,Wednesday,False
29997,Spearsland,50239115,2022-01-27,6,3001.38,0,0,South Georgia and the South Sandwich Islands,Clothing,Thursday,False
29998,Spearsland,50239115,2022-01-28,5,2501.15,0,0,Haiti,Clothing,Friday,False
29999,Spearsland,50239115,2022-01-29,3,1425.66,5,190,Mozambique,Clothing,Saturday,False

In [4]:
db_user = 'root'
db_password = 'example'
db_host = 'postgres'
db_port = '5432'
db_name = 'Retail'

engine = create_engine(f'postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

In [5]:
data.to_sql('transaksi', engine, if_exists='replace', index=False)

1000